__pycache__
test_imgs/.kestrel/
.venv/
.venv2/
large_files/
.venv_from_base/
dist/
release/
.venv-macos/
analyzer/build/
analyzer/dist/
cloudflare-workers/
cloudflare-workers_secret/
query_analytics/
query_analytics_out/
_test_imgs_secret/